[phases.setup]
nixPkgs = ["nodejs_20", "python3", "ffmpeg", "yt-dlp"]

[phases.install]
cmds = ["cd server && npm install"]

[phases.build]
cmds = ["cd server && npm run build"]

[start]
cmd = "cd server && npm start"
