[phases.setup]
nixPkgs = ["nodejs_20", "python3", "ffmpeg"]

[phases.install]
cmds = [
  "pip install yt-dlp",
  "cd server && npm install"
]

[phases.build]
cmds = ["cd server && npm run build"]

[start]
cmd = "cd server && npm start"
